body{
    background: rgb(122,202,232);
    background: linear-gradient(0deg, rgba(122,202,232,1) 0%, rgba(21,233,220,1) 92%);
    background-repeat: no-repeat;
    height: 657px;
    background-size: cover;
}
input{
    width: 15%;
    background: rgb(122,202,232);
    background: linear-gradient(0deg, rgba(122,202,232,1) 0%, rgba(21,233,220,1) 92%);
    /* box-shadow: 2px 2px 13px 4px rgb(65, 63, 63) inset; */
}
.input{
    margin-top: 200px;
}


@media screen and (max-width: 868px) {
    input{
        width: 60%;
    }
}
